page-qrscan {
div{
    text-align: center;
    font-size: 15px;
}
.button{
    font-size: 15px;
}

@media only screen and (min-width: 1024px) {
    

    div{
        text-align: center;
        font-size: 20px;
    }

    .button{
        font-size: 20px;
    }
}
}