page-dn {
    ion-label{
        font-size: 15px;
        
    }
    
    .button{
        font-size: 15px;
    }
    div{
        font-size: 15px;
        
    }
 
    
    @media only screen and (min-width: 1224px) {
      
        ion-label{
            font-size: 20px;
            
        }
        .button{
            font-size: 20px;
        }
    
        div{
            font-size: 20px;
            
        }
    
      }
}
