<!--
  Generated template for the AppointmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="1">
    <ion-title>ตารางนัดผู้ป่วย</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card id="css" padding>
    <ion-item>
      <ion-label fixed id="title" color="dark">วันนัดตรวจ</ion-label>
      <ion-label
        ><ion-datetime
          displayFormat="DD/MM/YYYY"
          pickerFormat="DD MMMM YYYY"
          [(ngModel)]="date"
          min="{{startMin}}"
          max="{{startMax}}"
          monthNames="มกราคม, กุมภาพันธ์, มีนาคม,เมษายน,พฤษภาคม,มิถุนายน,กรกฎาคม,สิงหาคม ,กันยายน ,ตุลาคม ,พฤศจิกายน ,ธันวาคม, "
        ></ion-datetime
      ></ion-label>

      <ion-label
        ><button ion-button float-center color="1" (click)="getdata()">
          ตรวจสอบ
        </button></ion-label
      >
    </ion-item>
  </ion-card>
 
    <ion-card id="css"  *ngIf="showData">
      <div *ngFor="let item of items">
        <ion-item>
          <ion-label class="topic" color="dark">ชื่อ-นามสกุล</ion-label>
          <ion-label color="dark" text-right>{{item.name}}</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-label class="topic" color="dark">เวลานัด</ion-label>
          <ion-label color="dark" text-right>8.00 น.</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-label class="topic" color="dark">วิธีการกลืนแร่ที่กำหนด</ion-label>
          <ion-label color="dark" text-right>{{item.method}}</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-label class="topic" color="dark">เบอร์โทรศัพท์ติดต่อ</ion-label>
          <ion-label color="dark" text-right>{{item.phone}}</ion-label>
        </ion-item>
      </div>
      
    </ion-card>
  
  <div *ngIf="!showData" >
    <ion-label color="dark" style="text-align: center;">ไม่พบข้อมูล</ion-label>
  </div>
</ion-content>
