page-examination {
  ion-label {
    font-size: 15px;
  }

  .button {
    font-size: 15px;
  }

  @media only screen and (min-width: 1224px) {
    ion-label {
      font-size: 20px;
    }
    .button {
      font-size: 20px;
    }
  }
  canvas {
    border: 1px solid rgb(230, 207, 207);
    height: auto;
    width: 100%;

    background-image: url("../../../../assets/icon/Pic_Icon/thyroidCanvas.png");
    background-repeat: no-repeat;
    background-size: 100% 90%;
  }
  
}
