page-login {
    .content {
        background-color: #D7EFE7;
    }

    .img{
        height: 120px;
        width: 120px;

    }

    .button{
        font-size: 15px;
    }

    @media only screen and (min-width: 1024px) {


        .img{
            height: 250px;
            width: 250px;
        }

        .button{
            font-size: 20px;
        }

      }
}
