page-login {
    .content {
        background-color: #D7EFE7;
    }

    .img{
        height: 120px;
        width: 120px;
       
    }

    .button{
        font-size: 15px;
    }
    .alert{
        color:red;
    }
   
    @media only screen and (min-width: 1024px) {
        
        #css{
            width: 40%;
            position: relative;
            left: 30%;
          
        }

        .button{
            font-size: 20px;
        }
        
      }
}
