page-history {
    ion-label {
        font-size: 17px;
        text-align: left;
    }

    .button{
        font-size: 17px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .topic{
        font-weight: bold;
    }
    div, label {
      font-size: 17px;
    }

    @media only screen and (min-width: 1224px) {
        ion-label {
            font-size: 20px;

        }
        label{
            font-size:  20px;
         }
        div{
            font-size:  20px;
         }
        .button{
            font-size: 20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #css{
            width: 40%;
            position: relative;
            left: 30%;

        }
      }
}
