
<!-- ส่วนแสดงของหมอ -->
<ion-header *ngIf="showMenu">
  <ion-navbar color="1">
    <ion-title>อัพโหลดภาพไทรอยด์สแกน</ion-title>
  </ion-navbar>
</ion-header>

<!-- ส่วนแสดงของผู้ป่วย -->
<ion-header *ngIf="!showMenu">
  <ion-navbar color="1">
    <ion-title>ภาพไทรอยด์สแกน</ion-title>
  </ion-navbar>
</ion-header>

<!-- ส่วนแสดงของหมอ -->
<ion-content padding id="css" *ngIf="showMenu">
  <ion-card>
  <ion-card-header><b>เลือกภาพ Thyroid Scan</b></ion-card-header>
  <button ion-button full (click)="AlertTakePhoto()">เลือกรูปภาพ</button>
  <ion-item>
    <!-- <h4>Image Preview</h4> -->
    <p><img align="center" src="{{ myPhoto }}"/></p>
  </ion-item>

  <ion-item *ngIf="myPhoto" >
    <ion-textarea autosize [(ngModel)]="description" placeholder="เขียนคำอธิบายรูปภาพ"></ion-textarea>
  </ion-item>

  <ion-item *ngIf="myPhoto">
    <button ion-button full (click)="uploadFile()">อัพโหลดรูปภาพ</button>
  </ion-item>
</ion-card>

<ion-card *ngIf="imageFile">
  <ion-item full>
    <ion-card-header><b>รูปภาพ Thyroid Scan ของผู้ป่วย</b></ion-card-header><br>
    <img src="{{imageFile}}"> <br><br>
    <h2><b>คำอธิบายรูปภาพ</b></h2>
    {{desc}}
  </ion-item>
</ion-card>
</ion-content>

<!-- ส่วนแสดงของผู้ป่วย -->
<ion-content *ngIf="!showMenu">
  <ion-item full>
    <h2><b>รูปภาพ</b></h2><br>
    <img src="{{imageFile}}"> <br><br>
    <h2><b>คำอธิบายรูปภาพ</b></h2>
    {{desc}}
  </ion-item>
</ion-content>
