page-edit-taboo {
    div{
        font-size:  15px;
     }

     ion-list{
         width: 70%;
     }

     .button{
        font-size: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    @media only screen and (min-width: 1024px) {
     
        ion-list{
            width: 30%;
        }
        div{
            font-size:  20px;
         }
    
         .button{
            font-size: 20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #css{
            width: 40%;
            position: relative;
            left: 30%;
          
        }
}
}