page-nurse-home {
 
    #title {
        text-align:left;
     }
     #subtitle {
         text-align:center;
         background-color: lightblue;
         margin: 15px;
         padding: 5px;
         border: 1.5px solid black;
         font-size: 24px;
     }
     #logo{
        display: block;
        margin: 0 auto;
        
     }
     h5{
         text-align: center;
     }
}
