page-nurse-home {

 

    //  #subtitle {
    //      text-align:center;
    //      background-color: #32D1AC;
    //      margin: 15px;
    //      padding: 5px;
    //      border: 0.5px solid #32D1AC;
         
    //  }
     #logo{
        display: block;
        margin: 0 auto;
        height: 120px;
        width:  120px;
     }
     h3{
        text-align: center;
        
     }
     h5{
         text-align: center;
         color: #000;
         
     }
     .profile{
 
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

     @media only screen and (min-width: 1024px) {
        // #subtitle {
        //     text-align:center;
        //     background-color: #32D1AC;
        //     margin: 15px;
        //     padding: 20px;
        //     border: 0.5px solid #32D1AC;
          
           
        // }

      
        #logo{
            display: block;
            margin: 0 auto;
            height: 200px;
            width:  200px;
         }
       
        h5{
            text-align: center;
            font-size:  40px;
            
        }
      }

      .profile{
        
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
