page-patient-home {
    #logo{
        display: block;
        margin: 0 auto;
        height: 115px;
        width:  115px;
     }
     h3{
        text-align: center;
        
     }
     h5{
         text-align: center;
         color: #000;
         
     }
     .profile{
 
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

ion-slides {
    height: 40%;
  }
     @media only screen and (min-width: 1024px) {
     
        ion-slides {
            height: 50%;
            padding-left: 10%;
            padding-right: 10%;
            background-color: white;
          }
      
        #logo{
            display: block;
            margin: 0 auto;
            height: 200px;
            width:  200px;
         }
       
        h5{
            text-align: center;
            font-size:  40px;
            
        }
        .profile{
            display: block;
            margin-left: auto;
            margin-right: auto;
      }

   

    }
    
}
