page-labtestresult {
   ion-icon{
    font-size: 40px;
    }
   ion-label {
    font-size: 18px;
    }
    .topic{
        font-weight: bold;
        
    }
    .button{
        font-size: 17px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .editButton{
        margin-right: 20px;
        margin-bottom: 10px;
    }

   @media only screen and (min-width: 1024px) {

    ion-icon{
        font-size: 64px;
       }
    ion-label {
        font-size: 20px;
       }
       #css{
        width: 40%;
        position: relative;
        left: 30%;

    }
    .button{
        font-size: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .editButton{
        margin-right: 30px;
    }
    }
}
