<!--
  Generated template for the AddhosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="1">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
  <ion-card id="css" padding>
   
  
    <form [formGroup]="formgroup" >
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <label  >รหัส รพ.   </label>
        </ion-col>
        <ion-col col-6>
          <input type="text" formControlName="hos_id" size="20">  
        </ion-col>
      </ion-row>
    </ion-grid>

    

     <ion-grid>
      <ion-row>
        <ion-col col-4>
          <label  >ชื่อ รพ.   </label>
        </ion-col>
        <ion-col col-6>
          <input type="text" id="hos_name" name="hos_name" formControlName="hos_name" size="20">
          <p class="help-inline" 
              *ngIf="!formgroup.get('hos_name').valid
              && formgroup.get('hos_name').touched">กรุณากรอกชื่อโรงพยาบาล</p>  
        </ion-col>
      </ion-row>
    </ion-grid>


       <ion-grid>
        <ion-row>
          <ion-col col-4>
            <label >ที่อยู่</label>
          </ion-col>
          <ion-col col-6>
            <textarea  rows="4" formControlName="address" cols="20">
              <p class="help-inline" 
              *ngIf="!formgroup.get('address').valid
              && formgroup.get('address').touched">กรุณาระบุที่อยู่</p> 
            </textarea>
          </ion-col>
        </ion-row>
      </ion-grid> 

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <label  >เบอร์โทรศัพท์ </label>
          </ion-col>
          <ion-col col-6>
            <input type="text" formControlName="tel" size="20">
            <p class="help-inline" 
              *ngIf="!formgroup.get('tel').valid
              && formgroup.get('tel').touched">กรุณากรอกตัวเลข</p>  
          </ion-col>
        </ion-row>
      </ion-grid>

    
      <strong padding id="strong">ค่าอ้างอิง</strong>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <label  >serum free T3 </label>
          </ion-col>
          <ion-col col-6>
            <input type="number" formControlName="SerumT3st" size="20">
            <p class="help-inline" 
              *ngIf="!formgroup.get('SerumT3st').valid
              && formgroup.get('SerumT3st').touched">กรุณาระบุค่า</p>  
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <label for="T4" >serum free T4 </label>
          </ion-col>
          <ion-col col-6>
            <input type="number" formControlName="SerumT4st" size="20">
            <p class="help-inline" 
              *ngIf="!formgroup.get('SerumT4st').valid
              && formgroup.get('SerumT4st').touched">กรุณาระบุค่า</p>   
          </ion-col>
        </ion-row>
      </ion-grid>


      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <label for="TSH" >serum TSH </label>
          </ion-col>
          <ion-col col-6>
            <input type="number" formControlName="SerumTSHst" size="20">
            <p class="help-inline" 
              *ngIf="!formgroup.get('SerumTSHst').valid
              && formgroup.get('SerumTSHst').touched">กรุณาระบุค่า</p>   
          </ion-col>
        </ion-row>
      </ion-grid>

   
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <label for="TRAb" >serum TRAb </label>
          </ion-col>
          <ion-col col-6>
            <input type="number" formControlName="SerumTRAbst" size="20">
            <p class="help-inline" 
              *ngIf="!formgroup.get('SerumTRAbst').valid
              && formgroup.get('SerumTRAbst').touched">กรุณาระบุค่า</p>   
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
   

  </ion-card>
  
  
    <button ion-button  color="1" [disabled]="!formgroup.valid" (click)="AddHospital()">บันทึก</button>
  
</ion-content>
