page-adminhome {
    #logo{
        display: block;
        margin: 0 auto;
        height: 120px;
        width:  120px;
     }
     h3{
        text-align: center;
        
     }
     h5{
         text-align: center;
         color: #000;
         
     }
     .profile{
 
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

     @media only screen and (min-width: 1024px) {
     

      
        #logo{
            display: block;
            margin: 0 auto;
            height: 200px;
            width:  200px;
         }
       
        h5{
            text-align: center;
            font-size:  40px;
            
        }
      }

      .profile{
        
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
