<ion-header>
  <ion-navbar color="1">
    <ion-title>ปัจจัยเสี่ยง</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card id="css" *ngIf="showData">
    <div class="topic" padding>
      ขณะท่านมีอาการไทรอยด์เป็นพิษ
      กรุณาใส่เครื่องหมายถูกในช่องสี่เหลี่ยมหากท่านมีปัจจัยที่ก่อให้เกิดโรคดังต่อไปนี้
    </div>

    <ion-item no-lines *ngIf="stress">
      <input type="checkbox" name="stress" disabled="disabled" checked/>
      <label for="stress"> มีความเครียดหรือความวิตกกังวล</label><br />
    </ion-item>

    <ion-item no-lines  *ngIf="hard_work">
      <input type="checkbox" name="hard_work" disabled="disabled" checked/>
      <label for="hard_work">ระบบการทำงาน (Shift work)</label><br />
    </ion-item>

    <ion-item no-lines  *ngIf="nightWork">
      <input type="checkbox" name="nightWork" disabled="disabled" checked/>
      <label for="nightWork"> งานแบบเข้ากะกลางคืนช่วงเข้ากะรอบละ</label>
      {{ night_work_hour }}
      <label >ชั่วโมง </label>
    </ion-item>

    <ion-item no-lines *ngIf="Overtime">
      <input type="checkbox" name="Overtime" disabled="disabled" checked/>
      <label for="Overtime"> งานล่วงเวลา รอบละ</label>
      {{ overtime_hour }}
      <label >ชั่วโมง </label>
    </ion-item>

    <ion-item no-lines *ngIf="sleep_less_than_4">
      <input type="checkbox" name="sleep_less_than_4" disabled="disabled" checked/>
      <label for="sleep_less_than_4">นอนน้อยกว่า 4 ชั่วโมงต่อวัน</label><br />
    </ion-item>

    <ion-item no-lines *ngIf="pregnant&&showFormSex">
      <input type="checkbox" name="pregnant" disabled="disabled" checked/>
      <label for="pregnant">ไทรอยด์เป็นพิษขณะกำลังตั้งครรภ์</label><br />
    </ion-item>

    

    <div *ngIf="smoking">
      <ion-item no-lines >
        <input type="checkbox" name="smoking" disabled="disabled" checked/>
        <label for="smoking">สูบบุหรี่</label><br />
      </ion-item>
  
      <ion-grid *ngIf="amount">
        <ion-row>
          <ion-col col-4>
            <label >ระบุ </label>
          </ion-col>
          {{ smoking_amount }}
          {{ select_amount }}
        </ion-row>
      </ion-grid>
  
      <ion-grid *ngIf="time">
        <ion-row>
          <ion-col col-4>
            <label >ระยะเวลาที่สูบ </label>
          </ion-col>
          {{ smoking_time }}
          {{ select_time }}
        </ion-row>
      </ion-grid>
  
      <ion-grid *ngIf="stop">
        <ion-row>
          <ion-col col-4>
            <label >หยุดสูบบุหรี่แล้ว </label>
          </ion-col>
          {{ smoking_stop }}
          {{ select_stop }}
        </ion-row>
      </ion-grid>
    </div>
    

    <ion-item no-lines *ngIf="no_risk_factor">
      <input type="checkbox" name="no_risk_factor" disabled="disabled" checked/>
      <label for="no_risk_factor">ไม่มีปัจจัยเสี่ยงดังกล่าว</label><br />
    </ion-item>

    <ion-item no-lines *ngIf="relative_toxic_thyroid">
      <input type="checkbox" name="relative_toxic_thyroid" disabled="disabled" checked/>
      <label for="relative_toxic_thyroid">บุคคลในครอบครัวมีต่อมไทรอยด์เป็นพิษ</label
      ><br />
    </ion-item>

  </ion-card>

  <ion-card id="css" *ngIf="!showData">
    <ion-item no-lines>
      <ion-label color="dark">ไม่พบข้อมูล</ion-label>
    </ion-item>
  </ion-card>

  <button ion-button small *ngIf="showButtonedit" (click)="editrisky()" color="1">แก้ไข</button>
</ion-content>
