page-editphysical {
    ion-label {
        font-size: 15px;
        font-weight: bold;
    }
    label {
        font-size: 15px;
        font-weight: bold;
    }
    #button{
        font-size: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    @media only screen and (min-width: 1224px) {
        ion-label {
            font-size: 20px;

        }
        #button{
            font-size: 20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #css{
            width: 40%;
            position: relative;
            left: 30%;

        }
        label {
            font-size: 20px;

        }
      }



}
