page-followuptreatmentresult {
    ion-label{
        font-size: 15px;
        
    }
    
    .button{
        font-size: 15px;
    }
    ion-icon{
        font-size: 40px;
       }
 
    
    @media only screen and (min-width: 1224px) {
        ion-icon{
            font-size: 64px;
           }
      
        ion-label{
            font-size: 20px;
            
        }
        .button{
            font-size: 20px;
        }
    
 
    
      }
}
