<!--
  Generated template for the IodineresultdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="1">
    <ion-title>รายละเอียดผลการกลืนแร่</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of obj" id="css">
    <ion-item >
      <ion-label  color="dark">ขนาดต่อมไทรอยด์</ion-label>
      <div>{{item.thysize}}</div>
    </ion-item>
  </ion-card>


  <ion-card *ngFor="let item of obj" id="css">
    <ion-item >
      <ion-label color="dark">ผลการตรวจทางห้องปฏิบัติการ</ion-label>
    </ion-item>
    <ion-item >
      <ion-label fixed color="dark">TT3/fT3</ion-label>
      <div>{{item.TT3orfT3}}</div>
    </ion-item>

    <ion-item>
      <ion-label fixed color="dark">fT4</ion-label>
      <div>{{item.fT4}}</div>
    </ion-item>

    <ion-item>
      <ion-label fixed color="dark">TSH</ion-label>
      <div>{{item.TSH}}</div>
    </ion-item>
  </ion-card>


  <ion-card *ngFor="let item of obj" id="css">
    <ion-item >
      <ion-label color="dark">การรักษา</ion-label>
    </ion-item>
    <ion-item >
      <ion-label color="dark">ยาต้านอาการไทรอยด์</ion-label>
        <div>{{item.thyMed}}</div>

    </ion-item>
    <ion-item>
      <ion-label color="dark">ยากลุ่ม Beta-Blocker</ion-label>
      <div>{{item.betaBlock}}</div>
    </ion-item>
  </ion-card>

  <button ion-button  (click)="EditResultDetail()" color="1">แก้ไขข้อมูล</button>
</ion-content>
