<ion-header>
  <ion-navbar color="1">
    <ion-title>{{header}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card id="css">
    <ion-item>
      <ion-label class="topic" color="dark">คำนำหน้าชื่อ</ion-label>
      <ion-label color="dark">{{title}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="topic" color="dark">ชื่อ - นามสกุล</ion-label>
      <ion-label color="dark">{{name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="topic" color="dark">วันเกิด</ion-label>
      <ion-label color="dark">{{birthdate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="topic" color="dark">อายุ</ion-label>
      <ion-label color="dark">{{ age }} ปี</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="topic" color="dark">เลขบัตรประชาชน/ เลขพาสปอร์ต</ion-label>
      <ion-label color="dark">{{idCard}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="topic" color="dark">เพศ</ion-label>
      <ion-label color="dark">{{sex}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="topic" color="dark">สัญชาติ</ion-label>
      <ion-label color="dark">{{National}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="topic" color="dark">สถานะการสมรส</ion-label>
      <ion-label color="dark">{{status}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="topic" color="dark">เบอร์โทรศัพท์ที่ติดต่อได้</ion-label>
      <ion-label color="dark">{{tel}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="topic" color="dark">บทบาททั้งหมด</ion-label>
      <ion-label color="dark">
      <input type="checkbox" *ngIf="doctor" disabled checked />
      <input type="checkbox" *ngIf="!doctor" disabled  />
      <label for="doc"> หมอ</label><br>
      <input type="checkbox" *ngIf="nurse" disabled checked />
      <input type="checkbox" *ngIf="!nurse" disabled  />
      <label for="doc"> พยาบาล</label><br>
      <input type="checkbox" *ngIf="patient" disabled checked />
      <input type="checkbox" *ngIf="!patient" disabled  />
      <label for="doc"> ผู้ป่วย</label>
    </ion-label>
      
    </ion-item>
    
  </ion-card>
</ion-content>
