page-healthdatahome {
    ion-label {
        font-size: 15px;
       
    }
    
    
    @media only screen and (min-width: 1224px) {
        ion-label {
            font-size: 20px;
        } 
       
        #css{
            width: 40%;
            position: relative;
            left: 30%;
          
        }
      }
}
