page-register {
ion-label{
    font-size: 17px;
}

.button{
    font-size: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label{
    font-size:  15px;
    font-weight: bold;
 }
 .help-inline{
    color: red;
}


@media only screen and (min-width: 1224px) {
    ion-label{
        font-size: 20px;
    }
    label{
        font-size:  20px;
     }
    .button{
        font-size: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #css{
        width: 40%;
        position: relative;
        left: 30%;

    }
  }

}
