<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="1">
    <ion-title>ลงทะเบียนผู้ป่วยใหม่</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formgroup" (ngSubmit)="doRegister()">
    <ion-card id="css" padding>
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <label>คำนำหน้าชื่อ </label>
            </ion-col>
            <ion-col col-6>
              <select formControlName="title">
                <option value="นาย">นาย</option>
                <option value="นาง">นาง</option>
                <option value="นางสาว">นางสาว</option>
                <option value="เด็กหญิง">เด็กหญิง</option>
                <option value="เด็กชาย">เด็กชาย</option>
              </select>
              <p
                class="help-inline"
                *ngIf="!formgroup.get('title').valid
      && formgroup.get('title').touched"
              >
                กรุณากรอกเลือกคำนำหน้าชื่อ
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <label>ชื่อ </label>
            </ion-col>
            <ion-col col-6>
              <input
                type="text"
                id="fname"
                name="fname"
                formControlName="fname"
                size="20"
              />
              <p
                class="help-inline"
                *ngIf="!formgroup.get('fname').valid
      && formgroup.get('fname').touched"
              >
                กรุณากรอกชื่อ นามสกุล ภาษาไทย
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <label>นามสกุล</label>
            </ion-col>
            <ion-col col-6>
              <input
                type="text"
                id="lname"
                name="lname"
                formControlName="lname"
                size="20"
              />
              <p class="help-inline"
              *ngIf="!formgroup.get('lname').valid
              && formgroup.get('lname').touched">กรุณากรอกนามสกุล ภาษาไทย</p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <label>วันเกิด</label>
            </ion-col>
            <ion-col col-6>
              <input type="date" (input)="updateAge()" formControlName="birthday" size="20" />
              <p class="help-inline"
              *ngIf="!formgroup.get('birthday').valid
              && formgroup.get('birthday').touched">กรุณาเลือกวันเกิด</p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <label>อายุ</label>
            </ion-col>
            <ion-col col-6>
              <span> {{ age }} ปี</span>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <label>เลขบัตรประชาชน/ เลขพาสปอร์ต</label>
            </ion-col>
            <ion-col col-12>
              <input type="text" formControlName="idCard" size="50" />
              <p class="help-inline"
              *ngIf="!formgroup.get('idCard').valid
              && formgroup.get('idCard').touched">กรุณากรอกตัวเลข 13 หลัก</p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <label>เพศ</label>
            </ion-col>
            <ion-col col-6>
              <select formControlName="sex">
                <option value="หญิง">หญิง </option>
                <option value="ชาย">ชาย </option>
              </select>
              <p class="help-inline"
              *ngIf="!formgroup.get('sex').valid
              && formgroup.get('sex').touched">กรุณาเลือกเพศ</p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <label>สัญชาติ</label>
            </ion-col>
            <ion-col col-6>
              <input
                type="text"
                formControlName="National"
                size="20"
              />
              <p class="help-inline"
              *ngIf="!formgroup.get('National').valid
              && formgroup.get('National').touched">กรุณากรอกสัญชาติ ภาษาไทย</p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <label>สถานะ</label>
            </ion-col>
            <ion-col col-6>
              <select formControlName="status">
                <option value="โสด">โสด </option>
                <option value="คู่">คู่ </option>
                <option value="หย่า">หย่า </option>
                <option value="คู่สมรสเสียชีวิต">คู่สมรสเสียชีวิต </option>
              </select>
              <p class="help-inline"
              *ngIf="!formgroup.get('status').valid
              && formgroup.get('status').touched">กรุณาเลือกสถานะ</p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <label>เบอร์โทรศัพท์ที่ติดต่อได้ </label>
            </ion-col>
            <ion-col col-6>
              <input type="phone" formControlName="tel" size="20" />
              <p class="help-inline"
              *ngIf="!formgroup.get('tel').valid
              && formgroup.get('tel').touched">กรุณากรอกตัวเลข ไม่เกิน 10 หลัก</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-card>

    <button ion-button (click)="onClickToRegister()"  color="1">
      ถัดไป
    </button>
  </form>
</ion-content>
