<ion-header>
  <ion-navbar color="1">
    <ion-title>การคุมกำเนิด</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
  <ion-card id="css" padding>
       
    

            <ion-grid>
              <ion-row>
                <ion-col col-4>
                    <label for="patient" >ผู้ป่วยคุมกำเนิดหรือไม่ </label>
                  </ion-col>
                    <ion-col col-6>
                    <select [(ngModel)]="control_name" (change) = "isControl($event.target.value)">
                      <option value="ไม่ได้คุม">ไม่ได้คุม</option>
                      <option value="รับประทานยาคุมกำเนิด">รับประทานยาคุมกำเนิด</option>
                      <option value="ฉีดยาคุมกำเนิด">ฉีดยาคุมกำเนิด</option>
                      <option value="ฝังยาคุมกำเนิด">ฝังยาคุมกำเนิด</option>
                      <option value="ทำหมัน">ทำหมัน</option>
                      <option value="หมดประจำเดือน">หมดประจำเดือน</option>
                    </select>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-grid *ngIf="showControl">
              <ion-row>
                <ion-col col-4>
                  <label for="control_amount" >คุมกำเนิด    </label>
                </ion-col>
                  <input type="number" [(ngModel)]="control_amount" id="control_amount" name="control_amount" size="18">  
                  <label for="">&ensp;&ensp;</label>
                  <select [(ngModel)]="control_daily">
                    <option value="เดือน">เดือน </option>
                    <option value="ปี">ปี </option>
                  </select>  
              
              </ion-row>
            </ion-grid>
    

            <ion-grid>
              <ion-row>
                <ion-col col-4>
                <label for="date">ประจำเดือนครั้งสุดท้ายของท่าน</label>
              </ion-col>
              <ion-col col-6>
                <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD MMMM YYYY" min={{startMin}} max={{startMax}}  [(ngModel)]="last_peroid_date"   
                monthNames="มกราคม, กุมภาพันธ์, มีนาคม,เมษายน,พฤษภาคม,มิถุนายน,กรกฎาคม,สิงหาคม ,กันยายน ,ตุลาคม ,พฤศจิกายน ,ธันวาคม, "></ion-datetime>
            </ion-col>
          </ion-row>
          </ion-grid>
          <form [formGroup]="formgroup">
            <ion-grid>
              <ion-row>
                <ion-col col-4>
                  <label for="number" >จำนวน    </label>
                </ion-col>
               
                  <input type="number" formControlName="last_peroid_amount" id="number" name="number" step="1" size="18">
                  <p 
                  class="help-inline"
                  *ngIf="!formgroup.get('last_peroid_amount').valid
        && formgroup.get('last_peroid_amount').touched"
                >
                  กรุณากรอกตัวเลข
                </p>   
                  <label for="">&ensp;&ensp;</label>
                  <label for="d" >วัน   </label>
               
              </ion-row>
            </ion-grid>

          </form>
</ion-card>
<button ion-button color="1" (click) = "update()" [disabled]="!formgroup.valid">บันทึก</button>
</ion-content>
